<main role="main">

  <div class="container">
    <div class="jumbotron mt-3" id="backGrou"><br>
      <h1>SKY Online Vehical Rent & Selling Center</h1><br><br><br><br>
      <p class="lead"></p>
      <div class="row">
        <div class="col-md-3">
          <label  class="first"><img src="../../../assets/img/client/home/van.png" alt="..." class="img-thumbnail"></label>
        </div>
        <div class="col-md-3">
          <label  class="first"><img src="../../../assets/img/client/home/car.png" alt="..." class="img-thumbnail"></label>
        </div>
        <div class="col-md-3">
          <label  class="first"><img src="../../../assets/img/client/home/motercycel.png" alt="..." class="img-thumbnail"></label>
        </div>
        <div class="col-md-3">
          <label  class="first"><img src="../../../assets/img/client/home/trishow.png" alt="..." class="img-thumbnail"></label>
        </div>
      </div>
    </div>
  </div>
</main>
