<app-header></app-header>
<div class="container marketing">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-12">
          <br>
          <div class="shadow-lg p-3 mb-5 bg-info rounded">Comments</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input class="opt" type="radio" name="options" id="option1" autocomplete="off" checked> All
            </label>
            <label class="btn btn-secondary">
              <input class="opt" type="radio" name="options" id="option2" autocomplete="off"> Clients
            </label>
            <label class="btn btn-secondary">
              <input class="opt" type="radio" name="options" id="option3" autocomplete="off"> Company
            </label>
            <label class="btn btn-secondary">
              <input class="opt" type="radio" name="options" id="option4" autocomplete="off"> User
            </label>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><br><br><br></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-header">
              IJSE
            </div>
            <div class="card-body">
              <p class="card-title" *ngFor="let post of posts"><label style="height:60px;width: 200px; background-color: white">{{post.name}}</label><label style="height:60px;width: 200px; background-color: white">{{post.titel}}</label><label style="height:60px;width: 200px; background-color: white">{{post.description}}</label><label style="height:60px;width: 200px; background-color: white">{{post.date}}</label></p>
            </div>
          </div>
          <table class="table table-hover table-info">
          <thead>
          <!--<tr>-->
          <!--<th scope="col">#</th>-->
          <!--<th scope="col">First</th>-->
          <!--<th scope="col">Last</th>-->
          <!--<th scope="col">Handle</th>-->
          <!--</tr>-->
          <!--<p class="card-title" *ngFor="let post of posts"><label style="height:60px;width: 200px; background-color: white">{{post.name}}</label><label style="height:60px;width: 200px; background-color: white">{{post.titel}}</label><label style="height:60px;width: 200px; background-color: white">{{post.description}}</label><label style="height:60px;width: 200px; background-color: white">{{post.date}}</label></p>-->
          </thead>
          <tbody>
          <tr>

          </tr>
          </tbody>
          </table>
          <!--<ul class="list-group">-->
            <!--<li *ngFor="let post of posts" class="list-group-item">-->
            <!--<li style="width: 100px"><input type="checkbox"></li>-->
            <!--<li style="width: 300px">{{post.name}}</li>-->
            <!--<li style="width: 600px">{{post.titel}}</li>-->
            <!--<li class="mailbox-subject">{{post.description}}</li>-->
            <!--<li style="width: 300px">{{post.date}}</li>-->
            <!--<li style="width: 500px">{{post.comment}}</li>-->
          <!--</ul>-->
          <!--<ul class="list-group">-->
            <!--<li *ngFor="let post of posts" class="list-group-item">{{post.name}}</li>-->
            <!--<li *ngFor="let post of posts" class="list-group-item">{{post.titel}}</li>-->
            <!--<li *ngFor="let post of posts" class="list-group-item">{{post.description}}</li>-->
            <!--<li *ngFor="let post of posts" class="list-group-item">{{post.date}}</li>-->
            <!--<li *ngFor="let post of posts" class="list-group-item">{{post.comment}}</li>-->
            <!--<br>-->
          <!--</ul>-->
        </div>
      </div>

    </div>

  </div>
</div>
