<app-header></app-header>

<div class="container marketing">
  <!--<br>-->
  <div class="row" id="backOne">
    <div class="col-lg-4 colOne">
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/users.gif" alt="Generic placeholder image" width="180" height="180">
      <a  routerLink="/user" ><h2 class="subTitel" style="color: White">{{subTitelOne}}</h2></a>
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/companey.gif" alt="Generic placeholder image" width="180" height="180">
      <a routerLink="/company"><h2 class="subTitel"style="color: White">{{subTitelTwo}}</h2></a>
    </div><!-- /.col-lg-4 -->
`
    <div class="col-lg-4 colOne">
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/client.gif" alt="Generic placeholder image" width="180" height="180">
      <a  routerLink="/client"><h2 class="subTitel"style="color: White">{{subTitelThree}}</h2></a>
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/comment.gif" alt="Generic placeholder image" width="180" height="180">
      <a routerLink="/comment"><h2 class="subTitel" style="color: White">{{subTitelFour}}</h2></a>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4 colOne">
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/Acount.gif" alt="Generic placeholder image" width="180" height="180">
      <h2 class="subTitel"style="color: White">{{subTitelFive}}</h2>
      <br>
      <img style="background-color: white" class="rounded" src="../../assets/img/home/orders.gif" alt="Generic placeholder image" width="180" height="180">
      <h2 class="subTitel"style="color: White">{{subTitelSix}}</h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
<app-footer></app-footer>
