<app-home></app-home>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label style="font-weight: bold;text-align: center;color: darkblue;"><h1><strong>SKY USER HOME</strong></h1></label>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary myADD">Your Free Add</strong>
          <!--<img class="myADD-1" src="../../assets/img/client/dasboard/Free-add.png">-->
        </div>
        <img class="myADD-1" src="../../assets/img/client/dasboard/Free-add.png">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary myADD">Your Details</strong>
        </div>
        <img class="myADD-1" src="../../assets/img/client/dasboard/user_details.png">
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary myADD">Your Cart</strong>
        </div>
        <img class="myADD-1" src="../../assets/img/client/dasboard/cart.png">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary myADD">Your Orders</strong>
        </div>
        <img class="myADD-1" src="../../assets/img/client/dasboard/Orders.png">
      </div>
    </div>
  </div>
</div>
