.btn-block{
    background-color: white;
    color: black;
    font-weight: bold;
}
.box-body-f-colur{
    color: #2e2499;
}
.text-red{
    color: red;
}
.text-yellow{
    color: yellow;
}
.text-light-blue{
    color: lightblue;
}

.container-fluid{
    background-color: white;
}
.pe-7s-search{
    font-size: 30px;
}