<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn btn-primary btn-block">Compose</a>
                <div class="row">
                    <div class="col-md-12">
                        <br><br>
                        <div class="box box-solid">
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
                                        <span class="label label-primary pull-right">12</span></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                                    <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                                    <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">

                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class=""><a href="#" class="box-body-f-colur"><i class="fa fa-circle-o text-red "></i> Important</a></li>
                                    <li class=""><a href="#" class="box-body-f-colur"><i class="fa fa-circle-o text-yellow "></i> Promotions</a></li>
                                    <li class="id"><a href="#" class="box-body-f-colur"><i class="fa fa-circle-o text-light-blue "></i> Social</a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>