
<!DOCTYPE html>
<html >
<body class="abc">

<h2>Feed Back Form</h2>
<p>The purpose of feedback is to reinforce positive behaviors that contribute to performance or that eliminate negative behaviors that can detract from performance.</p>

<div class="container">

  <form action="">
    <div class="row">
      <div class="col-25">

        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">City</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Galle</option>
          <option value="canada">Mathra</option>
          <option value="usa">Colombo</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Youer Feed Back</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

</body>




</html>
